*{
    margin: 0 auto;
}
.wrapper{
    margin-top: 20vh;
}
#tab{
    border: 1px solid black;
    width: 15vw;
    height: 40vh;
}
#input{
    padding: 25px;
    /* width: 300px;
    margin: 1px; */
    height: 20px;
    border: 1px solid black;
}
.btn{
    padding: 30px;
   /* background: #c70b0b; */
}